* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  background-color: #fafafa;
}

.main-nav {
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav-logos {
    display: flex;
    align-items: center;
}
.main-nav-logo-black-and-white {
    margin-left: 10px;
}
.main-nav-logo-words {
    margin-left: 15px;
    margin-top: 5px;
}

#search {
  width: 215px;
  height: 28px;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: none;
}

.button-white {
    text-decoration: none;
    margin: 10px 10px;
    padding: 5px 10px 7px 10px;
    font-size: 14px;
    border-radius: 4px;
}

.button-blue {
    text-decoration: none;
    margin: 10px 10px;
    padding: 5px 10px 7px 10px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #3897f0;
    color: white;
}

.gadgets {
  display: flex;
  justify-content: space-around;
}
.gadgets div {
  margin: 12px auto;
}

.gallery {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.gallery-photo {
  display: flex;
}

.gallery-photo img {
  width: 100%;
}
.stories {
  display: flex;
  overflow: scroll;
}
.story {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.story img {
  margin: auto 10px;
  margin-top: 10px;
  border-radius: 50%;
}
.story span {
  font-weight: normal;
  font-size: 11px;
  margin-top: 8px;
}

.stats {
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  margin-top: 40px;
  padding: 11px;
  display: flex;
  justify-content: space-around;
}
.stats div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 13px auto;
}
.stats div:first-child {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #262626;
}
.stats div:last-child {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #999999;
}

.footer-links ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.footer-li a {
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: 7px 6px;
  text-transform: uppercase;
  color: #003569;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #999999;
  margin: 10px auto;
}

    .profile {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
    }
    .profile-picture {
      margin: 5px 15px;
    }
    .profile-title  {
      font-weight: normal;
      color: #262626;
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 10px;
    }
    .profile-summary {
        justify-self: flex-start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .profile-description-text {
      margin: 0 8px 8px 0;
    }
    .profile-description {
      display: block;
      margin: 10px 16px 26px 10px;
    }
    .profile-description a {
      text-decoration: none;
      color: #003569;
    }

@media screen and (max-width: 1023px) {
    .profile-stats {
        display: none;
    }
    .profile-summary {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .gallery {
        gap: 20px;
    }
    #search {
        display: block;
    }
    .profile {
    }
    .profile-summary {
        flex-wrap: wrap;
        flex-direction: row;
        flex-grow: 2;
        justify-content: flex-start;
        align-items: center;
        width: 60%;
    }
    .profile-stats {
        display: flex;
        width: 100%;
    }
    .profile-stats p {
        margin-right: 20px;
    }
    .profile-picture img {
        content: url("images/logo-color-big.png");
    }
}