* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #fafafa;
}
/*      NAV       */
.insta-nav {
  background-color: #fff;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 77px;
}
.nav-logo,
.nav-buttons {
  display: flex;
  align-items: center;
}
.nav-logo img {
  margin: 15px 10px;
}
.nav-logo img:last-child {
  margin: 15px 10px;
  margin-top: 20px;
}
#search {
  width: 215px;
  height: 28px;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  display: none;
}
.button-blue,
.button-white {
  margin: 10px 10px;
  text-decoration: none;
  padding: 5px 10px 7px 10px;
  color: #ffffff;
  font-size: 14px;
  border-radius: 4px;
}
.button-blue {
  background: #3897f0;
  border: 1px solid #3897f0;
}
.button-white {
  border: 1px solid #ffffff;
  background: #ffffffff;
  color: #3897f0;
}
/*      PROFILE       */
.profile {
  display: flex;
  align-items: stretch;
}
.profile1 {
  margin: 5px 15px;
}

.profile-2 h1, .profile-2-d h1 {
  font-weight: normal;
  color: #262626;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 10px;
}
.profile-2 a, .profile-2-d a {
  margin: 0 0 8px 0;
}
.profile1-d,
.profile-2-d{
  display: none;
}
/*       DESCRIPTION       */

.description {
  margin: 10px 16px 26px 10px;
}

.description a {
  text-decoration: none;
  color: #003569;
}

/*       STORIES       */

.stories ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  overflow: scroll;
}
.stories ul::-webkit-scrollbar {
  display: none;
}
.stories-li {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stories-li img {
  height: 56px ;
  margin: auto 10px;
  margin-top: 10px;
}
.stories-li span {
  font-weight: normal;
  font-size: 11px;
  margin-top: 8px;
}

/*       NUMBERS       */

.numbers {
  margin-top: 40px;
  padding: 11px;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-around;
}
.numbers span {
  display: flex;
  justify-content: center;
  padding: 13px auto;
}
.numbers span:first-child {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #262626;
}
.numbers span:last-child {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #999999;
}
/* GADGETS */
.gadgets {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #dbdbdb;
}
.gadgets div {
  margin: 12px auto;
}
.nav-pc{
  display: none;
}
/* GALLERY */

.gallery {
  display: grid;
  width: 100%;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.gallery-photo {
  display: flex;
}
.gallery-photo img {
  width: 100%;
}
/* FOOTER */

.footer-links ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.footer-links {
  text-align: center;
}
.footer-li a {
  text-decoration: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin: 7px 6px;
  text-transform: uppercase;
  color: #003569;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #999999;
  margin: 10px auto;
}

/*                 DESKTOP         */

@media (min-width: 1024px) {
  .instagram {
    width: 60%;
    margin: 0 auto;
  }

  #search {
    display: inline-block;
  }
  .insta-nav {
    background-color: #ffffff;
  }
  .main-nav {
    width: 60%;
    margin: 0 auto;
  }
  .gadgets {
    display: none;
  }
  .insta-header *{
    margin: 0;
    padding: 0;
  }

  .insta-header {
    display: grid;
    margin: 22px auto 0px auto;
    align-items: center;
    justify-content: center;
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(2, auto) auto auto;
    grid-template-areas:"profile1 profile2"
                        "profile1 numbers"
                        "profile1 description"
                        "stories stories";
  }
  .profile{
    display: none;
  }
  .profile-2-d{
    grid-area: profile2;
    display: flex;
    align-items: center;
  }
  .profile1-d{
    grid-area: profile1;
    display: flex;
    justify-content: center;
  
  }

  .description {
    grid-area: description;
  }
  .stories {
    grid-area: stories;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .stories ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    
  }
  .stories-li img{
    border-radius: 0;
    height: 77px;
  }
  .numbers {
    grid-area: numbers;
  }
  .profile1 img{
    width: 150px;
  }
 
  .profile-2 > .button-blue,
  .profile-2-d > .button-blue {
    margin-left: 60px;
    margin: 10px 10px;
    text-decoration: none;
    padding: 5px 10px 7px 10px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 4px;
  }
  .numbers{
    border-style:none;
    justify-content: flex-start;
  }
  .numbers span{
    margin: 19px auto;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
  }
  .numbers div{
    margin-right: 40px;
    color: #000000;
  }
  .nav-pc{
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .nav-pc ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin:17px 0;

  }
  .nav-pc-li span{
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #262626;
    padding: 10px 5px;
    margin:0 80px;
    border-top: 2px solid #26262673;;
  }
}